---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../FormattedDate/index.astro";

type Props = CollectionEntry<"blog">;

const {
  slug,
  data: { title, description, pubDate, heroImage },
} = Astro.props;
---

<article
  class="post-card flex cursor-pointer transition-transform duration-300 hover:scale-105"
>
  <a href={`/post/${slug}`} class="flex w-full">
    <div class="flex-1 mr-4 flex flex-col">
      <h2 class="text-base sm:text-lg font-semibold text-gray-800 mb-1 sm:mb-2">
        {title}
      </h2>
      <p
        class="text-sm sm:text-base text-gray-600 line-clamp-2 sm:line-clamp-3 mb-2"
      >
        {description}
      </p>
      <div class="text-xs sm:text-sm text-gray-500 mt-auto">
        <FormattedDate date={pubDate} />
      </div>
    </div>
    <img
      src={heroImage.src}
      alt={title}
      class="w-24 h-24 sm:w-32 sm:h-32 object-cover rounded-md"
    />
  </a>
</article>
